.articles{
    position: relative;
    //z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); 
    gap: 15px;
    min-height: 430px;
    margin: -350px 48px 100px;  

}

.article{
    background-color: #fff;
    padding: 30px 0;
    border-radius: 3px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    &__img{
        img{
            height: auto;
            width: 100%;
        }
    }

    &__title {
        a{
            color: $color__blue;
            text-decoration: none;
            &::after{
                content: '';
                display: block;
                height: 2px;
                background-color: $color__blue;
                width: 0%;
                margin-top: 3px;
                transition: 0.2s all;
                border-radius: 1px;
            }
            &:hover::after{
                width: 100%;
                transition: 0.2s all;
            }
        }
        margin: 0 75px 10px;
        font-family: $font__title;
        font-size: 25px;
        display: inline-block;
    }

    &__infos{
        margin: 0 75px;
        margin-bottom: 20px;
        font-family: $font__content;
        font-size: 12px;
        display: flex;
        span{
            margin-right: 20px;
            display: flex;
            align-items: center;
            &.article__date::before{
                content: '';
                display: block;
                //background-color: black;
                width: 15px;
                height: 15px;
                background-image: url("#{$icons}clock.svg");
                background-size: 100% 100%;
                margin-right: 5px;
            }
            &.article__author::before{
                content: '';
                margin-right: 5px;
                display: block;
                //background-color: black;
                width: 15px;
                height: 15px;
                background-image: url("#{$icons}man-user.svg");
                background-size: 100% 100%;
            }
        }
    }

    &__resume{
        margin: 20px 75px;
        font-family: $font__content;
        line-height: 22px;
        font-size: 14px;
    }

    &__tags{
        margin: 0px 75px;
        display: flex;
        flex-wrap: wrap;
    }
}

.tag{
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    border-radius: 17.5px;
    background-color: lightgrey;
    margin-right: 10px;
    color: white;
    font-family: $font__content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.2);
}

.actu__thumbnail{
    position: relative;
    //z-index: 1;
    margin: -380px 48px 0;
    img{
        width: 100%;
        height: auto;
        min-height: 300px;
        object-fit: cover;
    }
}


.actu__content{
    position: relative;
    //z-index: 1;
    margin: 30px 123px;
    font-family: $font__content;
    line-height: 1.5;
}

.actu__infos, .actu__tags{
    position: relative;
    //z-index: 1;
}


.single__actu{
    .actu__content{
        border-bottom: 2px solid $color__black;
        padding-bottom: 50px;
    }
    .actu{
        &__infos{
            margin: 20px 123px;
            margin-bottom: 20px;
            font-family: $font__content;
            font-size: 20px;
            display: flex;
            color: $color__blue;
            span{
                margin-right: 20px;
                display: flex;
                align-items: center;
                &.actu__date::before{
                    content: '';
                    display: block;
                    //background-color: black;
                    width: 20px;
                    height: 20px;
                    background-image: url("#{$icons}clock.svg");
                    background-size: 100% 100%;
                    margin-right: 5px;
                }
                &.actu__author::before{
                    content: '';
                    margin-right: 5px;
                    display: block;
                    //background-color: black;
                    width: 20px;
                    height: 20px;
                    background-image: url("#{$icons}man-user.svg");
                    background-size: 100% 100%;
                }
            }
        }

        &__tags{
            margin: 0px 123px;
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@media(max-width: 720px){
    .articles{
        margin: -350px 10px 100px; 
        display: block; 
    }
}
@media(max-width: 600px){
    .article{
        &__title{
            margin: 0 20px 10px;
        }
        &__infos{
            margin: 0 20px 20px;
        }  
        &__resume{
            margin: 20px 20px;
        }
    
        &__tags{
            margin: 0px 20px;
        } 
    }
}