html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -313px;
  }
  .footer,
  .push {
    height: 313px;
  }
.header--connection{
    display: flex;
    justify-content: center;
}

.forms{
    display: grid;
    margin: 100px auto;
    grid-template-columns: 1fr 1fr; 
    gap: 90px;
    padding: 0 123px;
    &__title{
        font-family: $font__title;
        font-size: 30px;
        color: $color__connexion;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 20px;
    }

    .form__field{
        background-color: white;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        box-shadow: 0px 4px 10px 0px rgba(100,100, 100, 0.2);
        margin-bottom: 15px;
        border-radius: 3px;
    
        &__label{
            font-family: $font__title;
            margin-right: 10px;
        }
        &__input{
            display: inline-block;
            //width: 75%;
            flex: 1 1 auto;
            input{
                width: 100%;
                font-size: 15px;
                font-family: $font__content;
                border: none;
                outline: none;
            }
        }
    }
    button{
        display: inline-block;
        background-color: white;
        margin-right: 20px;
        padding: 10px 50px;
        text-decoration: none;
        font-family: $font__content;
        color: $color__black;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        transition: 0.2s background-color,color;
        &:hover{
            background-color: $color__connexion;
            color: $color__white;
            transition: 0.2s background-color,color;
        }

    }

    .form__action__forgot{
        font-family: $font__content;
        color: $color__black;
        text-decoration: none;
        display: inline-block;
        &::after{
            content: "";
            height: 1px;
            background-color: $color__black;
            width: 0%;
            display: block;
            margin-top: 3px;
            transition: 0.3s width $mainEase;

        }
        &:hover::after{
            width: 100%;
            transition: 0.3s width $mainEase;
        }
    }
}


@media( max-width: 1040px){
    .forms{
        display: block;
        & > div{
            margin-bottom: 50px;
        }
    }
}

@media( max-width: 650px){
    .forms{
        padding: 20px;
        margin-bottom: 50px;
    }
}