.pageFooter{
    filter: drop-shadow(-1px -6px 5px rgba(50, 50, 0, 0.3));
    &__clip{
        //height: 200px;
        clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
        padding: 100px 123px 50px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.pageFooter.homepage .pageFooter__clip{
    background-color: $color__home;
}
.pageFooter.actu .pageFooter__clip{
    background-color: $color__actu;
}
.pageFooter.deals .pageFooter__clip{
    background-color: $color__emplois;
}
.pageFooter.forum .pageFooter__clip{
    background-color: $color__forum;
}
.pageFooter.jobs .pageFooter__clip{
    background-color: $color__job;
}
.pageFooter.snippets .pageFooter__clip{
    background-color: $color__snippet;
}

.footer__nav{
    font-family: $font__content;
    .menu{
        margin-top: 20px;
        &-item{
            position: relative;
            padding:7.5px;
            margin: 5px 0;
            
            &.current_page_item{
                background-color: black;
                display: inline;
                
                a{
                    color: $color__white;
                }
            }
            a{
                color: $color__black;
                text-decoration: none;
                font-size: 16px;
                letter-spacing: 1.2px;
                text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
                display: inline;
            }
        }
        
    }
}

.footer__newsletter{
    width: 600px;
    &__title{
        font-family: $font__title;
        font-size: 30px;
        font-weight: bold;
        color: $color__white;
        margin-bottom: 20px;
    }
    &__content{
        font-family: $font__content;
        color: $color__white;
        line-height: 25px;
        font-size: 16px;
    }
}