body{
    background-color: $color__white;
}

#searchform{
    position: absolute;
    top: 40px;
    display: none;
    
}
.search__input:checked ~ #searchform{
    display: block;
}

.search-field{
    outline: none;
    display: block;
    border: none;
    background-color:initial;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid $color__white;
    font-family: $font__content;
   &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
}
.header__search{
    position: relative;
    margin: 20px 10px 0;

}
.search__icon{
    width: 30px;
    cursor: pointer;

    
}

.burger{
    position: relative;
    display: none;
    .header__logo{
        position: absolute;
        top: 0; 
        left: 47px;
    }
    .burger{
        position: absolute;
        top: 0; 
        right: 47px;  
    }

    &__search{
        position: absolute;
        top: 34px; 
        right: 140px; 
        .search-field{
            outline: none;
            display: block;
            border: none;
            background-color:initial;
            font-size: 20px;
            color: $color__black;
            border-bottom: 1px solid $color__black;
            font-family: $font__content;
           &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $color__black;
            opacity: 1; /* Firefox */
          }
        }
    }

    &__nav{
        display: none;
        position: fixed;
        overflow: hidden;
        background-color: $color__white;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        z-index: 2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .menu{
            //background-color: red;
            text-align: center;
            &-item{
                position: relative;
                padding:7.5px;
                margin-bottom: 20px;
                
                &.current_page_item{
                    background-color: black;
                    a{
                        color: white;
                    }
                }
                a{ 
                    font-family: $font__content;
                    color: black;
                    text-decoration: none;
                    font-size: 20px;
                    letter-spacing: 1.2px;
                    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
                    transition: 0.3s color;
                    &::before{
                        z-index: -1;
                        content:'';
                        position: absolute;
                        left: 0; 
                        top: 0;
                        bottom: 0;
                        right: 100%;
                        background-color: black;
                        transition: 0.3s right;

                    }

                    &:hover{
                        color: white;
                        transition: 0.3s color;
                    }

                    &:hover::before{
                        right: 0;
                        transition: 0.3s right;
                    }
                }

            }
        }
        
    }

    &__connexion{
        text-decoration: none;
        margin-top: 20px;
        position: relative;
        padding:7.5px;
        font-family: $font__content;
        font-size: 20px;
        display: block;
        color: black;
        transition: 0.3s color;
        &::before{
            z-index: -1;
            content:'';
            position: absolute;
            left: 0; 
            top: 0;
            bottom: 0;
            right: 100%;
            background-color: black;
            transition: 0.3s right;

        }

        &:hover{
            color: white;
            transition: 0.3s color;
        }

        &:hover::before{
            right: 0;
            transition: 0.3s right;
        }
    }
    &__check{
        display: none;
    }
}
.header{
    position: absolute;
    left: calc(50% - (1280px / 2));
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 47px;
    width: 100%;
    box-sizing: border-box;
    &__logo{
        img{
            width: 150px;
            position: relative;
            //z-index: 4;
        }
    }
    &__connexion{
        margin-left: 50px;
        color : $color__white;
        //margin-top: 7.5px;
        text-decoration: none;
        margin-top: 20px;
        position: relative;
        padding:7.5px;
        &::before{
            z-index: -1;
            content:'';
            position: absolute;
            left: 0; 
            top: 0;
            bottom: 0;
            right: 100%;
            background-color: black;
            transition: 0.3s right;

        }

        &:hover::before{
            right: 0;
            transition: 0.3s right;
        }
    }

    &__nav{
        font-family: $font__content;
        display: flex;
        
        .menu{
            margin-top: 20px;
            display: flex;
            &-item{
                position: relative;
                padding:7.5px;
                
                &.current_page_item{
                    background-color: black;
                    
                    a{
                        color: $color__white;
                    }
                }
                a{ 
                    color: $color__white;
                    text-decoration: none;
                    font-size: 16px;
                    letter-spacing: 1.2px;
                    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
                    &::before{
                        z-index: -1;
                        content:'';
                        position: absolute;
                        left: 0; 
                        top: 0;
                        bottom: 0;
                        right: 100%;
                        background-color: black;
                        transition: 0.3s right;

                    }

                    &:hover::before{
                        right: 0;
                        transition: 0.3s right;
                    }
                }

            }
            
        }
    }
}


.pageHeader{
    filter: drop-shadow(-1px 6px 5px rgba(50, 50, 0, 0.3));
    &__clip{
        //height: 800px;
        padding-bottom: 400px;
        clip-path: polygon(0 0, 100% 0, 100% 35%, 0% 100%);
        padding-top: 150px;
        //min-width: 1280px;
        box-sizing: border-box;
        &--small{
            height: 720px;
            
        }
        .pageHeader__title{
            margin: 0px 123px;
            font-family: $font__title;
            font-weight: bold;
            color: $color__white;
            letter-spacing: 3px;
            line-height: 1.3;
            text-transform: uppercase;
            font-size: 60px;
            margin-bottom: 30px;
            text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
            span{
                display: block;
                font-size: 40px;
            }
        }
        .pageHeader__content{
            margin-left: 123px;
            width: 700px;
            color:$color__white;
            font-family: $font__content;
            line-height: 35px;
            width: 50%;
            
        }
        .pageHeader__tags{
            display: flex;
            flex-wrap: wrap;
            margin:20px 123px;
        }
    }
}

.pageHeader.homepage .pageHeader__clip{
    background-color: $color__home;
}
.pageHeader.actu .pageHeader__clip{
    background-color: $color__actu;
}
.pageHeader.deals .pageHeader__clip{
    background-color: $color__emplois;
}
.pageHeader.forum .pageHeader__clip{
    background-color: $color__forum;
}
.pageHeader.jobs .pageHeader__clip{
    background-color: $color__job;
}
.pageHeader.snippets .pageHeader__clip{
    background-color: $color__snippet;
}
.pageHeader.mdn .pageHeader__clip{
    background-color: $color__mdn;
}

@media(max-width: 1280px){
    .header{
        left: 0;
    }
}


@media(max-width: 1145px){
    .header__nav{
        display: none;
    }
    .burger{
        //background-color: black;
        display: block;
        width: 50px;
        height: 50px;
        &__check:checked{
            ~ label svg line{
                stroke: black;
            }

            ~ .burger__nav{
                display: flex;
            }
        } 
        svg{
            position: relative;
            //z-index: 3;
            width: 100%;
            line{
               stroke: white;
            }
        }

        &:hover{
            svg line{
                stroke: black;
            }
        }
    }
}

@media(max-width: 720px){
    .pageHeader .pageHeader__title{
        font-size: 40px;
        margin: 0 48px;
    }
    .pageHeader .pageHeader__content{
        margin: 0 48px;
    }
    .pageHeader .pageHeader__tags{
        margin:20px 48px;
    }

    .header{
        padding: 0 10px;
    }

    .burger{
        .header__logo{
          
            left: 10px;
        }
        .burger{
           
            right: 10px;  
        }
    }
    
}