.search__jobs{
    margin: -350px 48px 100px;
    position: relative;
    //z-index: 1;
    &__form{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &__input{
            outline: none;
            padding: 5px 15px;
            display:inline-block;
            font-size: 20px;
            font-family: $font__title;
            background-color: $color__white;
            //border: 1px solid $color__black;
            box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
            border:none;
            border-radius: 50px;
            width: 500px;
            -webkit-appearance: none;
        }
        &__button{
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
            border:none;
            margin-left: 15px;
            outline: none;
            transition: 0.2s background-color;
            &:hover{
                background-color: $color__job;
                transition: 0.2s background-color;
                svg{
                    fill:$color__white;
                    transition: 0.2s fill;
                }
            }
            svg{
                width: 100%;
                height: auto;
                fill: $color__job;
                transition: 0.2s fill;

            }

        }
        
    }
}
.persons{
    position: relative;
    //z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 15px;
    margin: 0 48px 100px;
    min-height: 200px;

}
.person{
    position: relative;
    width: 100%;
    max-width: 350px;
    &__infos{
        position: absolute;
        bottom: 0px;
        right: 0px;
        left: 0;
        top: 70%;
        font-family: $font__title;
        color: white;
        text-align: right;
        font-size: 16px;
        padding: 20px;
        //opacity: 0;
        transition: 0.3s top $mainEase;
        background-color:  rgba($color: $color__black, $alpha: 0.8);
        
        span{
            display: block;
            margin-bottom : 10px;
            letter-spacing: 4px;
        }
    }
    img{
        width: 100%;
        height: auto;
    }

    &__link{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 3px;
        background-color: rgba(255, 255, 255, 0.3);
        opacity: 0;
        transition: 0.2s opacity;
        &:hover, &:focus{
            //opacity: 1;
            transition: 0.2s opacity;
            & ~ .person__infos{
                transition: 0.3s top $mainEase;
                top: 0;
            }
        }
    }
}

.job__contact{
    margin: 0 128px 100px;
    
    &__img{
        background-color: lightgrey;
        padding: 70px;
    }
    &__title{
        font-family: $font__title;
        font-size: 40px;
        font-weight: bold;
        color: $color__job;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    }
    &__explaination{
        font-family: $font__content;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .form__field{
        margin-bottom: 20px;
        &__label{
            font-family: $font__title;
            margin: 0 20px 15px;
            display: block;
        }
        &__input textarea{
            display: block;
            width: 100%;
            resize: vertical;
            padding: 10px 20px;
            box-sizing: border-box;
            height: 124px;
            font-size: 16px;
            border: 1px solid $color__job;
            background-color: initial;
            border-radius: 4px;
            outline: none;
        }
        &__input input{
            outline: none;
            width: 100%;
            display: block;
            padding: 10px 20px;
            box-sizing: border-box;
            font-size: 16px;
            border: 1px solid $color__job;
            background-color: initial;
            border-radius: 4px;
            
        }
    }
    .form__submit{
        display: block;
        background-color: $color__job;
        margin-top: 26px;
        border-radius: 4px;
        font-size: 17px;
        color: white;
        outline: none;
        width: 100%;
        padding: 15px 0;
    }
}

@media(max-width: 720px){
    .job__contact{
        margin: 0 48px 100px;
    }
}

@media(max-width: 610px){
    .persons{
        display: block;
        .person{
            width: 100%;
            max-width: initial;
            margin-bottom: 20px;
        }

    }
}